/* CJK Unified Ideographs U+4E00-U+9FFF */
@font-face {
  font-family: sans-serif;
  src: local(Heiti TC);
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: serif;
  src: local(LiSong Pro);
  unicode-range: U+4E00-9FFF;
}

/* Japanese Kana U+3040-U+30FF */
@font-face {
  font-family: sans-serif;
  src: local(Hiragino Kaku Gothic Pro);
  unicode-range: U+3040-30FF;
}

@font-face {
  font-family: serif;
  src: local(Hiragino Mincho Pro);
  unicode-range: U+3040-30FF;
}

/* Bopomofo U+3105-U+312C */
@font-face {
  font-family: sans-serif;
  src: local(LiHei Pro);
  unicode-range: U+3105-312C;
}

@font-face {
  font-family: serif;
  src: local(LiSong Pro);
  unicode-range: U+3105-312C;
}

/* Latin, Latin1, Latin Ext-A, Latin Ext-B */
@font-face {
  font-family: sans-serif;
  src: local(Helvetica);
  unicode-range: U+00-024F;
}

@font-face {
  font-family: serif;
  src: local(Times);
  unicode-range: U+00-024F;
}
